BasedOnStyle: Google

IndentWidth: 2
ContinuationIndentWidth: 2
TabWidth: 2
UseTab: Never

ColumnLimit: 80

Cpp11BracedListStyle: true
AlignAfterOpenBracket: AlwaysBreak
AllowAllConstructorInitializersOnNextLine: true

BreakBeforeBraces: Attach

BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  AfterControlStatement: false

BinPackArguments: false
BinPackParameters: false

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty

BreakStringLiterals: false
